
.overlay__modal_send {
	background: rgba(0, 0, 0, .3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 10;
}

.overlay__modal_send.active {
	visibility: visible;
}

.overlay__modal_send .header__modal {
	position: absolute;
	width: 100%;
	top: 0;
	display: flex;
	justify-content: center;
}

.popup__modal_send {
	background-color: #fff;
	border-radius: 5px;
	padding: 40px 20px 20px 20px;
	width: 50vw;
	max-width: 1450px;
	height: auto;
	display: grid;
	max-height: 80vh;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
	overflow: hidden;


}

.popup__modal_send .btn-cerrar-popup__modal_send {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
	position: absolute;
	right: 30px;
	top: 10px;
}


/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup__modal_send.active {
	transform: scale(1);
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.popup__modal_send {
		width: 95vw;
		max-width: 95vh;
	
	}

}